<div [@routerTransition]>
       
    <!-- <app-page-header [heading]="'Charts'" [icon]="'fa-bar-chart-o'"></app-page-header> -->
    <div class="form-group input-group col-4" style="padding-left: 0px;">
        <input type="text" class="form-control" placeholder="Search" >
            <!-- <input type="text" name="text" [(ngModel)]="text" id="form1" class="form-control"> -->
        <div class="input-group-append">
            <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
        </div>
        <div class="pl-2">
            <button type="button" class="btn btn-outline-primary" (click)="addProj()"k>Add User Story {{text}}</button>
        </div>
    </div>
    <div class="card mb-3">
        <!-- <div class="card-header">Projects</div> -->
        <table class="card-body table table-hover">
            <thead class="card-header" style="background-color: #cce5ff;">
                <tr>
                    <th *ngFor="let data of cols">{{data.header}}</th>
                    <!-- <th>Project Name</th>
                    <th>Col</th>
                    <th>Col</th>
                    <th>Col</th>
                    <th>Col</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of userStory">
                        <th scope="row">{{data.id}}</th>
                    <th scope="row">{{data.userStory }}</th>
                    <th scope="row">{{data.dateCreated | date:'mediumDate'}}</th>
                    <th scope="row">{{data.dateUpdated | date:'mediumDate'}}</th>
                    <th scope="row"><button class="btn btn-outline-primary" (click)="addBacklog(data)">Add Backlog</button>
                        <button class="btn btn-outline-info" (click)="editUser(data)">Edit</button>
                        <!-- <button class="btn btn-outline-danger" (click)="deleteuser(data)">Delete</button> -->
                    </th>

                    <!-- <td>Project1</td>
                    <td>Otto</td>
                    <td>@mdo</td> -->
                </tr>
                <!-- <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr> -->
            </tbody>
        </table>
    </div>
   
    
    
</div>

 <div class="backdrop" [ngStyle]="{'display':display}"></div>

<div class="modal" *ngIf="modal == 'add'" [ngStyle]="{'display':display}" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New User Story</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseHandled()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="userForm" #myForm='ngForm' (ngSubmit)="onSubmitAdd()">   
            <div class="modal-body">
                
                    <div class="form-group" >
                        <label for="project">User Story</label>
                        <textarea type="text" class="form-control" formControlName="user" placeholder="User Story"></textarea>
                        <!-- <div class="error-message" *ngIf="userForm.controls.user.invalid && myForm.submitted">

                                <i class="fa fa-close"></i> Please enter a valid User Story
                            </div> -->
                    </div>
                  
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary"  (click)="onCloseHandled()" >Close</button>
                <button type="submit" class="btn btn-outline-primary" >Save</button>
            </div>
        </form>
        </div>
    </div>
</div>
<div class="modal"  *ngIf="modal == 'edit'" [ngStyle]="{'display':display}" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit User Story</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseHandled()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="userForm" #myForm='ngForm' (ngSubmit)="onEditUser(users)">   
            <div class="modal-body">
                
                    <div class="form-group">
                        <label for="project">User Story Name</label>
                        <input type="text" class="form-control" formControlName="user"  [value]="users.userStory">
                    </div>
                  
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="onCloseHandled()" >Close</button>
                <button type="submit" class="btn btn-primary" >Edit</button>
            </div>
        </form>
        </div>
    </div>
</div>

<div class="modal"  *ngIf="modal == 'error'" [ngStyle]="{'display':display}" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseHandled()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>  
            <div class="modal-body">
                <h3>Error!</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="onCloseHandled()" >Close</button>
            </div>
        </div>
    </div>
</div>
