<div [@routerTransition]>
    <!-- <app-diagrameditor></app-diagrameditor> -->

    <div class="form-group input-group col-4" style="padding-left: 0px;">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-append">
            <button class="btn btn-secondary" type="button">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-6 col-md-4 col-lg-3" *ngFor="let item of projDocs">
            <div class="card border-dark mb-3" style="max-width: 18rem;" (click)="cardClick(item.projId)">
                <p class="card-header" style="background-color: #cce5ff;">{{item.projName}}</p>
                <div class="card-body">
                    <p class="card-text">
                        Files uploaded: {{ item.bidDocs.length || 'None' }}
                        <span class="text-muted" *ngFor="let doc of item.bidDocs">
                            <br/>{{doc.name}} - {{doc.description}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="backdrop" [ngStyle]="{'display':display}"></div>

    <div class="modal" [ngStyle]="{'display':display}" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{projDoc.projName}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseHandled()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="card-body table table-hover table-bordered">
                        <thead class="card-header" style="background-color: #cce5ff;">
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <!-- <th>Upload Date</th> -->
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let file of projSysDiags">
                                <td>{{file.name}}</td>
                                <td>{{file.description}}</td>
                                <!-- <td>{{file.uploadDate}}</td> -->
                                <td>
                                    <a type="button" class="btn btn-outline-info" id="btn-dwnld-{{file.fileId}}" [download]="file.name" (click)="downloadFile(file.fileId)">
                                        <i class="fa fa-download"></i>
                                    </a>
                                    <button type="button" class="btn btn-outline-danger" (click)="deleteFile(file.fileId)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="card card-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="fileDesc"> Description </label>
                            </div>
                            <input type="text" class="form-control" id="fileDesc" placeholder="Description">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="fileUpload"> Upload File </label>
                                <input type="file" style="display: none" id="fileUpload" (change)="onChangeFile()">
                            </div>
                            <input type="text" class="form-control" id="fileName" placeholder='Choose a file...' (click)="selectFile()" onkeypress="return false;"
                            />
                            <div class="input-group-append">
                                <button class="btn btn-outline-warning" id="btn-reset" type="button" (click)="resetFileInput()">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="onCloseHandled()">Close</button>
                    <button type="button" class="btn btn-primary" (click)="saveFile()">Upload</button>
                </div>
            </div>
        </div>
    </div>
</div>