<div [@routerTransition]>
    <!-- <app-page-header [heading]="'Charts'" [icon]="'fa-bar-chart-o'"></app-page-header> -->
    <div class="form-group input-group col-4" style="padding-left: 0px;">
        <form [formGroup]="searchForm" (ngSubmit)="searchProject()">
            <!-- <input type="text" name="text" [(ngModel)]="text" id="form1" class="form-control"> -->
            <div class="input-group-append">


                <input type="text" class="form-control" formControlName="search" (ngModelChange)="filter($event)" placeholder="Search">
                <button class="btn btn-secondary" type="submit">
                    <i class="fa fa-search"></i>
                </button>

            </div>
        </form>
        <div class="pl-2">
            <button type="button" class="btn btn-primary" (click)="addProj()">New Project {{text}}</button>
        </div>

    </div>
    <div class="card mb-3">
        <!-- <div class="card-header">Projects</div> -->
        <table class="card-body table table-hover">
            <thead class="card-header" style="background-color: #cce5ff;">
                <tr>
                    <th *ngFor="let data of cols">{{data.header}}</th>
                    <!-- <th>Project Name</th>
                    <th>Col</th>
                    <th>Col</th>
                    <th>Col</th>
                    <th>Col</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of project">
                    <th scope="row">{{data.id}}</th>
                    <th scope="row">{{data.projectName}}</th>
                    <th scope="row">{{data.description}}</th>
                    <th scope="row">

                        <ng-container *ngFor="let ph of data.phases; let i = index">
                            <strong>Phase {{i+1}}:</strong> {{ph.phase}}
                            <br>
                            <strong>Methodology:</strong> {{ph.method}}
                            <br>
                        </ng-container>
                    </th>
                    <th scope="row">{{data.duration}} mos</th>
                    <!-- <th scope="row">{{data.technology}}</th> -->
                    <!-- <th scope="row">{{data.methodology}}</th> -->
                    <th scope="row">{{data.dateCreated | date:'mediumDate'}}</th>
                    <th scope="row">{{data.dateUpdated | date:'mediumDate'}}</th>
                    <th scope="row">
                        <!-- <!-- <button type="button" class="btn btn-outline-success" (click)="editProj(data)">Edit</button> -->
                        {{data.status}}

                    </th>
                    <th scope="row">

                        <button type="button" class="btn btn-outline-success">Edit</button>
                        <!-- {{data.status}} -->

                    </th>
                    <!-- <td>Project1</td>
                    <td>Otto</td>
                    <td>@mdo</td> -->
                </tr>
                <!-- <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr> -->
            </tbody>
        </table>
    </div>
    <!-- <div class="row" *ngIf="false">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Bar Chart
                </div>
                <div class="card-body">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                        [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
                <div class="card-footer">
                    <button class="btn btn-info btn-sm" (click)="randomize()">Update</button>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Doughnut Chart
                </div>
                <div class="card-body">
                    <canvas baseChart height="180px" [data]="doughnutChartData" [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="false">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Radar Chart
                </div>
                <div class="card-body">
                    <canvas baseChart height="150px" [datasets]="radarChartData" [labels]="radarChartLabels"
                        [chartType]="radarChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Pie Chart
                </div>
                <div class="card-body">
                    <canvas baseChart height="150px" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="false">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Polar Area Chart
                </div>
                <div class="card-body">
                    <canvas baseChart height="130px" [data]="polarAreaChartData" [labels]="polarAreaChartLabels"
                        [legend]="polarAreaLegend" [chartType]="polarAreaChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Line Chart
                </div>
                <div class="card-body">
                    <canvas baseChart height="130" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                        [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div> -->
</div>
<!-- Large modal -->

<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" *ngIf="modal == 'addQuestion'" [ngStyle]="{'display':display}" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">General System Characteristic</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseHandled()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="projectForm" (ngSubmit)="addQuestion()">
                <div class="modal-body" style="height: 671px !important">
                    <div class="row">
                        <div class="form-group" id="roww">
                            <label for="project">Data Communication</label>
                            <input type="number" class="form-control" formControlName="project">
                        </div>
                        <div class="form-group">
                            <label for="project">Distributed Processing</label>
                            <input type="number" class="form-control" formControlName="project">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group" id="roww">
                            <label for="project">Performance</label>
                            <input type="number" class="form-control" formControlName="project">
                        </div>
                        <div class="form-group">
                            <label for="project">Heavily Used Configuration</label>
                            <input type="number" class="form-control" formControlName="project">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group" id="roww">
                            <label for="project">Transaction Rate</label>
                            <input type="number" class="form-control" formControlName="project">
                        </div>
                        <div class="form-group">
                            <label for="project">Online Data Entry</label>
                            <input type="number" class="form-control" formControlName="project">
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group" id="roww">
                            <label for="project">End User Efficiency</label>
                            <input type="number" class="form-control" formControlName="project">
                        </div>
                        <div class="form-group">
                            <label for="project">Online Update</label>
                            <input type="number" class="form-control" formControlName="project">
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group" id="roww">
                            <label for="project">Complex Processing</label>
                            <input type="number" class="form-control" formControlName="project">
                        </div>
                        <div class="form-group">
                            <label for="project">Reusable Code</label>
                            <input type="number" class="form-control" formControlName="project">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group" id="roww">
                            <label for="project">Installation Ease</label>
                            <input type="number" class="form-control" formControlName="project">
                        </div>
                        <div class="form-group">
                            <label for="project">Operational Ease</label>
                            <input type="number" class="form-control" formControlName="project">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group" id="roww">
                            <label for="project">Multiple Sites</label>
                            <input type="number" class="form-control" formControlName="project">
                        </div>
                        <div class="form-group">
                            <label for="project">Ease of Change</label>
                            <input type="number" class="form-control" formControlName="project">
                        </div>
                    </div>
                    <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="onCloseHandled()">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                </div>
              
            </form>
        </div>
    </div>
</div>
<div class="modal" *ngIf="modal == 'add'" style="overflow: auto !important" [ngStyle]="{'display':display}" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseHandled()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="projectForm" (ngSubmit)="addProjQuest()">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="project">Project Name</label>
                        <input type="text" class="form-control" formControlName="project" placeholder="Project Name">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" class="form-control" formControlName="description" placeholder="Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="description">Duration</label>
                        <input type="number" class="form-control" formControlName="duration" placeholder="Duration">
                    </div>
                    <div class="form-group" formArrayName="phase">
                        <ng-container *ngFor="let ph of phase.controls; let i = index">
                            <div [formGroupName]="i">
                                <label style="padding-right: 20px">Phase {{i+1}}</label>
                                <a style="color: red" (click)="deletePhase(i)">X</a>
                                <input type="text" class="form-control" formControlName="phase" placeholder="Phase Name">


                                <label for="methodology">Methodology</label>
                                <select class="custom-select" id="bTSelect" formControlName="method">

                                    <option selected disabled>Choose Methodology</option>
                                    <option *ngFor="let tech of method" [value]="tech.title">{{tech.title}}</option>
                                </select>
                            </div>
                        </ng-container>
                        <br>
                        <br>
                        <!-- <label for="phaseNo" style="padding-right: 20px">Add Phase</label> -->
                        <button type="button" class="btn btn-outline-primary" (click)="addPhase()">Add Phase</button>
                        <!-- <input type="number" class="form-control" formControlName="phaseNo" placeholder="Phase Number"> -->
                    </div>
                   

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="onCloseHandled()">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" *ngIf="modal == 'edit'" [ngStyle]="{'display':display}" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseHandled()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="projectForm" (ngSubmit)="editProject()">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="project">Project Name</label>
                        <input type="text" class="form-control" formControlName="project" [(ngModel)]="proj.projectName" placeholder="Project Name">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" class="form-control" formControlName="description" [(ngModel)]="proj.description" placeholder="Description"></textarea>
                    </div>
                    <div class="form-group" formArrayName="phase">
                        <ng-container *ngFor="let ph of phase.controls; let i = index">
                            <div [formGroupName]="i">
                                <label style="padding-right: 20px">Phase {{i+1}}</label>
                                <a style="color: red" (click)="deletePhase(i)">X</a>
                                <input type="text" class="form-control" formControlName="phase" [(ngModel)]="proj.phases[i].phase" placeholder="Phase Name">


                                <label for="methodology">Methodology</label>
                                <select class="custom-select" id="bTSelect" formControlName="method" [(ngModel)]="proj.phases[i].method">

                                    <option selected disabled>Choose Methodology</option>
                                    <option *ngFor="let tech of method" [value]="tech.title">{{tech.title}}</option>
                                </select>
                            </div>
                        </ng-container>
                        <br>
                        <br>
                        <!-- <label for="phaseNo" style="padding-right: 20px">Add Phase</label> -->
                        <button type="button" class="btn btn-outline-primary" (click)="addPhase()">Add Phase</button>
                        <!-- <input type="number" class="form-control" formControlName="phaseNo" placeholder="Phase Number"> -->
                    </div>
                    <!-- <div class="form-group">
                        <label for="technology">Technology</label>
                        <textarea type="text" class="form-control" formControlName="technology" [(ngModel)]="proj.technology" placeholder="Technology"></textarea>
                    </div> -->


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="onCloseHandled()">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>