<div [@routerTransition]>
    <!-- <app-page-header [heading]="'Charts'" [icon]="'fa-bar-chart-o'"></app-page-header> -->
    <div class="form-group input-group col-4" style="padding-left: 0px;">
        <input type="text" class="form-control" placeholder="Search" >
            <!-- <input type="text" name="text" [(ngModel)]="text" id="form1" class="form-control"> -->
        <div class="input-group-append">
            <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
        </div>
        <div class="pl-2">
            <button type="button" class="btn btn-primary" (click)="addProj()">New Project {{text}}</button>
        </div>
    </div>
    <div class="card mb-3">
        <!-- <div class="card-header">Projects</div> -->
        <table class="card-body table table-hover">
            <thead class="card-header" style="background-color: #cce5ff;">
                <tr>
                    <th *ngFor="let data of tabler">{{data.header}}</th>
                    <!-- <th>Project Name</th>
                    <th>Col</th>
                    <th>Col</th>
                    <th>Col</th>
                    <th>Col</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of tabler">
                    <th scope="row">{{data.id}}</th>
                    <th scope="row">{{data.projname}}</th>
                    <th scope="row">{{data.desc}}</th>
                    <th scope="row">{{data.datecreated}}</th>
                    <th scope="row"><button type="button" class="btn btn-outline-success">{{data.edit}}</button></th>
                    <!-- <td>Project1</td>
                    <td>Otto</td>
                    <td>@mdo</td> -->
                </tr>
                <!-- <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr> -->
            </tbody>
        </table>
    </div>
    <div class="row" *ngIf="false">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Bar Chart
                </div>
                <div class="card-body">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                        [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
                <div class="card-footer">
                    <button class="btn btn-info btn-sm" (click)="randomize()">Update</button>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Doughnut Chart
                </div>
                <div class="card-body">
                    <canvas baseChart height="180px" [data]="doughnutChartData" [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="false">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Radar Chart
                </div>
                <div class="card-body">
                    <canvas baseChart height="150px" [datasets]="radarChartData" [labels]="radarChartLabels"
                        [chartType]="radarChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Pie Chart
                </div>
                <div class="card-body">
                    <canvas baseChart height="150px" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="false">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Polar Area Chart
                </div>
                <div class="card-body">
                    <canvas baseChart height="130px" [data]="polarAreaChartData" [labels]="polarAreaChartLabels"
                        [legend]="polarAreaLegend" [chartType]="polarAreaChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Line Chart
                </div>
                <div class="card-body">
                    <canvas baseChart height="130" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                        [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="backdrop" [ngStyle]="{'display':display}"></div>

<div class="modal" [ngStyle]="{'display':display}" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseHandled()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="project">Project Name</label>
                        <input type="text" class="form-control" id="project" placeholder="Project Name">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" class="form-control" id="description" placeholder="Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="phaseNo">Phase Number</label>
                        <textarea type="text" class="form-control" id="phaseNo" placeholder="Phase Number"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="technology">Technology</label>
                        <textarea type="text" class="form-control" id="technology" placeholder="Technology"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="methodology">Methodology</label>
                        <textarea type="text" class="form-control" id="methodology" placeholder="Methodology"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="onCloseHandled()">Close</button>
                <button type="button" class="btn btn-primary" (click)="onCloseHandled()">Save</button>
            </div>
        </div>
    </div>
</div>
