
<br />
<div class="row" style="padding-bottom:10px">
    <div class="col-md-12 ">
        <div class="col-md-3 pull-left">
            <button type="button" id="btn-save" class="btn btn-outline-primary btn-fpa" (click)="onAdd()">Add <i class="fa fa-plus" aria-hidden="true"></i></button>
            <button type="button" id="btn-save" class="btn btn-outline-primary btn-fpa" (click)="onSave()">Save<i class="fa fa-floppy-o" aria-hidden="true" style="margin-left: 10px"></i></button>
        </div>
        <div class="col-md-9 pull-right">
            <button type="button" id="btn-export" class="btn btn-outline-primary pull-right">Export<i class="fa fa-cloud-download" aria-hidden="true" style="margin-left: 10px"></i></button>
            <button type="button" class="btn btn-outline-primary pull-right">Import<i class="fa fa-cloud-upload" aria-hidden="true" style="margin-left: 10px"></i></button>
            <button type="button" class="btn btn-outline-primary pull-right">Print<i class="fa fa-print" aria-hidden="true" style="margin-left: 10px"></i></button>

        </div>
    </div>
</div>
<div class="row" >  
    <div class="col-md-12" style="max-height:600px;height:600px;width:100%;overflow:auto">
        <div id="fpa-table" class="hot handsontable"></div>
    </div>
</div>
<!-- 
<div class="row">
    <div class="col-md-12 table-responsive table-hover ">
        <table class="table myTable">
            <thead class="myTableHeader">
                <tr>
                    <td colspan="2"></td>
                    <td colspan="3" style="text-align:center">ILF</td>
                    <td colspan="3" style="text-align:center">EIF</td>
                    <td colspan="3" style="text-align:center">EO</td>
                    <td colspan="3" style="text-align:center">EI</td>
                    <td colspan="3" style="text-align:center">EQ</td>
                    <td></td>
                </tr>
                <tr>
                    <td style="width:120px">Module</td>
                    <td style="width:200px">Description</td>
                    <td style="width:100px">RET</td>
                    <td style="width:100px">DET</td>
                    <td style="width:100px">Technology</td>
                    <td style="width:100px">RET</td>
                    <td style="width:100px">DET</td>
                    <td style="width:100px">Technology</td>
                    <td style="width:100px">RET</td>
                    <td style="width:100px">DET</td>
                    <td style="width:100px">Technology</td>
                    <td style="width:100px">RET</td>
                    <td style="width:100px">DET</td>
                    <td style="width:100px">Technology</td>
                    <td style="width:100px">RET</td>
                    <td style="width:100px">DET</td>
                    <td style="width:100px">Technology</td>
                    <td style="width:110px;min-width:100px;">Action</td>
                </tr>
            </thead>
            <tbody class="tableBody">
                <tr *ngFor="let item of backlogs;let i=index">
                    <td style="width:120px" *ngIf="i===editRowID"><input class="form-control" style="width:120px !important" type="text" [(ngModel)]="item.module" /></td>
                    <td style="width:120px" *ngIf="i !== editRowID" (click)="EditRow(i)">{{item.module}}</td>
                    <td style="width:200px" *ngIf="i===editRowID"><input class="form-control" style="width:200px !important" type="text" [(ngModel)]="item.description" /></td>
                    <td style="width:200px" *ngIf="i !== editRowID" (click)="EditRow(i)">{{item.description}}</td>
                    <td class="tdsize" *ngIf="i===editRowID"><input class="form-control  inputsize" type="text" [(ngModel)]="item.ilf_ret" /></td>
                    <td class="tdsize" *ngIf="i !== editRowID" (click)="EditRow(i)">{{item.ilf_ret}}</td>
                    <td class="tdsize" *ngIf="i===editRowID"><input class="form-control inputsize" type="text" [(ngModel)]="item.ilf_det" /></td>
                    <td class="tdsize" *ngIf="i !== editRowID" (click)="EditRow(i)">{{item.ilf_det}}</td>
                    <td class="tdsize" *ngIf="i===editRowID">
                        <select2 [data]="storageOption"
                                 [options]="selectOptions"
                                 [value]="1"
                                 (valueChanged)="ilfChanged($event,i)"></select2>
                    </td>
                    <td style="width:100px" *ngIf="i !== editRowID" (click)="EditRow(i)">{{item.ilf_technology}}</td>

                    <td class="tdsize" *ngIf="i===editRowID"><input class="form-control inputsize" type="text" [(ngModel)]="item.eif_ret" /></td>
                    <td class="tdsize" *ngIf="i !== editRowID" (click)="EditRow(i)">{{item.eif_ret}}</td>
                    <td class="tdsize" *ngIf="i===editRowID"><input class="form-control inputsize" type="text" [(ngModel)]="item.eif_det" /></td>
                    <td class="tdsize" *ngIf="i !== editRowID" (click)="EditRowfont(i)">{{item.eif_det}}</td>
                    <td class="tdsize" *ngIf="i===editRowID">
                        <select2 [data]="storageOption"
                                 [options]="selectOptions"
                                 [value]="1"
                                 (valueChanged)="eifChanged($event,i)"></select2>
                    </td>
                    <td style="width:100px" *ngIf="i !== editRowID" (click)="EditRow(i)">{{item.eif_technology}}</td>

                    <td class="tdsize" *ngIf="i===editRowID"><input class="form-control inputsize" type="text" [(ngModel)]="item.ei_ftr" /></td>
                    <td class="tdsize" *ngIf="i !== editRowID" (click)="EditRow(i)">{{item.ei_ftr}}</td>
                    <td class="tdsize" *ngIf="i===editRowID"><input class="form-control inputsize" type="text" [(ngModel)]="item.ei_det" /></td>
                    <td class="tdsize" *ngIf="i !== editRowID" (click)="EditRow(i)">{{item.ei_det}}</td>
                    <td class="tdsize" *ngIf="i===editRowID">
                        <select2 [data]="frontendOption"
                                 [options]="selectOptions"
                                 [value]="1"
                                 (valueChanged)="eiChanged($event,i)"></select2>
                    </td>
                    <td style="width:100px" *ngIf="i !== editRowID" (click)="EditRow(i)">{{item.ei_technology}}</td>

                    <td class="tdsize" *ngIf="i===editRowID"><input class="form-control inputsize" type="text" [(ngModel)]="item.eo_ftr" /></td>
                    <td class="tdsize" *ngIf="i !== editRowID" (click)="EditRow(i)">{{item.eo_ftr}}</td>
                    <td class="tdsize" *ngIf="i===editRowID"><input class="form-control inputsize" type="text" [(ngModel)]="item.eo_det" /></td>
                    <td class="tdsize" *ngIf="i !== editRowID" (click)="EditRow(i)">{{item.eo_det}}</td>
                    <td class="tdsize" *ngIf="i===editRowID">
                        <select2 [data]="frontendOption"
                                 [options]="selectOptions"
                                 [value]="1"
                                 (valueChanged)="eoChanged($event,i)"></select2>
                    </td>
                    <td style="width:100px" *ngIf="i !== editRowID" (click)="EditRow(i)">{{item.eo_technology}}</td>


                    <td class="tdsize" *ngIf="i===editRowID"><input class="form-control inputsize" type="text" [(ngModel)]="item.eq_ftr" /></td>
                    <td class="tdsize" *ngIf="i !== editRowID" (click)="EditRow(i)">{{item.eq_ftr}}</td>
                    <td class="tdsize" *ngIf="i===editRowID"><input class="form-control inputsize" type="text" [(ngModel)]="item.eq_det" /></td>
                    <td class="tdsize" *ngIf="i !== editRowID" (click)="EditRow(i)">{{item.eq_det}}</td>
                    <td class="tdsize" *ngIf="i===editRowID">
                        <select2 [data]="reportingOption"
                                 [options]="selectOptions"
                                 [value]="1"
                                 (valueChanged)="eqChanged($event,i)"></select2>
                    </td>
                    <td style="width:110px; min-width:100px;" *ngIf="i !== editRowID" (click)="EditRow(i)">{{item.eq_technology}}</td>
                    <td><a title="Delete" (click)="onDelete(item,i)"><i class="fa fa-trash-o fa-lg mypointer" aria-hidden="true"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->



<div class="modal" [ngStyle]="{'display':display}" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseHandled()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{modalLabel}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="onCloseHandled()">Ok</button>
            </div>
        </div>
    </div>
</div>




