<div>Project A (Phase 1 Web Application)</div>
<br />
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a [class]="(activeTab==1) ? 'nav-link active': 'nav-link'" data-toggle="tab" (click)="onTab(1)">User Story</a>
    </li>
    <li class="nav-item">
        <a [class]="(activeTab==2) ? 'nav-link active' : 'nav-link'" data-toggle="tab" (click)="onTab(2)">Functions</a>
    </li>
    <!-- <li class="nav-item">
        <a [class]="(activeTab==2) ? 'nav-link active' : 'nav-link'" data-toggle="tab" (click)="onTab(2)">Estimation</a>
    </li>
    <li class="nav-item">
        <a [class]="(activeTab==3) ? 'nav-link active': 'nav-link'" data-toggle="tab" (click)="onTab(3)">Implementation</a>
    </li> -->

    <li class="nav-item">
        <a [class]="(activeTab==3) ? 'nav-link active': 'nav-link'" data-toggle="tab" (click)="onTab(3)">Components</a>
    </li>
    <li class="nav-item">
        <a [class]="(activeTab==4) ? 'nav-link active': 'nav-link'" data-toggle="tab" (click)="onTab(4)">Logical Container</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <ng-template [ngIf]="activeTab==2">
        <app-backlogs [data]="data"></app-backlogs>
    </ng-template>
    <!-- <ng-template [ngIf]="activeTab==2">
        <app-estimation></app-estimation>
    </ng-template> -->
    <!-- <ng-template [ngIf]="activeTab==3">
        <app-implementation></app-implementation>
    </ng-template> -->
    <ng-template [ngIf]="activeTab==1">
        <app-user [data]="data"></app-user>
    </ng-template>
    <ng-template [ngIf]="activeTab==3">
        <app-components></app-components>
    </ng-template>
    <ng-template [ngIf]="activeTab==4">
        <app-logicalContainer></app-logicalContainer>
    </ng-template>
</div>