<br />
<div [@routerTransition]>
  <div class="form-group input-group col-4" style="padding-left: 0px;">
    <input type="text" class="form-control" name="searchString" placeholder="Type to search..." [(ngModel)]="searchString">
    <div class="input-group-append">
      <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
    </div>
    <div class="pl-2">
      <button type="button" class="btn btn-outline-primary" (click)="onModalOpen('add')">Add Component</button>
    </div>
  </div>

  <div class="card mb-3">
    <table class="card-body table table-hover">
      <thead class="card-header" style="background-color: #cce5ff;">
        <tr>
          <th *ngFor="let tableHeader of tableHeaders">{{ tableHeader.name }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let component of components | filter: 'name': searchString">
          <td scope="row">{{ component.id }}</td>
          <td scope="row">{{ component.name }}</td>
          <td scope="row">
            <button class="btn btn-outline-info" (click)="onModalOpen('edit', component)">Edit
              <i class="fa fa-edit fa-lg mypointer" aria-hidden="true"></i>
            </button>&nbsp;
            <button class="btn btn-outline-danger" (click)="onModalOpen('delete', component)">Delete
              <i class="fa fa-trash-o fa-lg mypointer" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="backdrop" [ngStyle]="{'display':display}"></div>

<div class="modal" *ngIf="modal === 'add'" [ngStyle]="{'display':display}" id="exampleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Component</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onModalClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="componentForm" #myForm='ngForm' (ngSubmit)="onSubmitAdd()" ngNativeValidate>
        <div class="modal-body">
          <div class="form-group">
            <label for="project">Name</label>
            <textarea type="text" class="form-control" formControlName="name" placeholder="Component name" required></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="onModalClose()">Close</button>
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal" *ngIf="modal === 'edit'" [ngStyle]="{'display':display}" id="exampleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Component</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onModalClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="componentForm" (ngSubmit)="onSubmitEdit()" ngNativeValidate>
        <div class="modal-body">
          <div class="form-group">
            <label for="project">Name</label>
            <input type="text" class="form-control" formControlName="name" [ngModel]="selectedData.name" required />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="onModalClose()">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal" *ngIf="modal === 'delete'" [ngStyle]="{'display':display}" id="exampleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Component</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onModalClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Are you sure you want to delete '{{ selectedData.name }}'?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onModalClose()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="onSubmitDelete()">Ok</button>
      </div>
    </div>
  </div>
</div>