<div [@routerTransition]>
    <br />
    <div class="form-group input-group col-4" style="padding-left: 10px;">
        <input type="text" class="form-control" name="searchString" placeholder="Type to search..." [(ngModel)]="searchString">
        <div class="input-group-append">
            <button class="btn btn-secondary" type="button">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <div class="row-md-3" style="padding-left: 10px;">
            <button type="button" id="btn-save" class="btn btn-outline-primary btn-fpa" (click)="addProj()">Add
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>
    </div>

    <div class="row">
        <ng-container *ngFor="let item of logicalContainers | filter: 'server' : searchString">
            <div class="col col-sm-6 col-md-4 col-lg-3">
                <div class="card border-dark mb-3" style="max-width: 18rem;">
                    <p class="card-header" style="background-color: #cce5ff;">{{item.server}}</p>
                    <div class="card-body text-muted">
                        <small>
                            <p><strong>ID:</strong> {{item.id}}</p>
                            <p><strong>vCPU (Core):</strong> {{item.vCpu}}</p>
                            <p><strong>RAM (GB):</strong> {{item.ram}}</p>
                            <p><strong>Data Storage (GB):</strong> {{item.dataStorage}}</p>
                            <p><strong>PRD (Qty.):</strong> {{item.prodQuantity}}</p>
                            <p><strong>DR (Qty.):</strong> {{item.drQuantity}}</p>
                            <p><strong>UAT (Qty.):</strong> {{item.uatQuantity}}</p>
                            <p><strong>SIT/DEV (Qty.):</strong> {{item.sitDevQuantity}}</p>
                            <p><strong>Total Qty.:</strong> {{item.totalQuantity}}</p>
                        </small>
                        <p>
                            <button class="btn btn-outline-info" (click)="editLogicalContainer(item)">Edit
                                <i class="fa fa-edit fa-lg mypointer" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-outline-danger" (click)="onDelete(item)">Delete
                                <i class="fa fa-trash-o fa-lg mypointer" aria-hidden="true"></i>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

    <!-- <div class="card mb-3">
        <table class="card-body table table-hover">
            <thead class="card-header" style="background-color: #cce5ff;">
                <tr>
                    <th *ngFor="let data of cols">{{data.header}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of logicalContainers | filter: 'server' : searchString">
                    <th scope="row">{{data.id}}</th>
                    <th scope="row">{{data.server }}</th>
                    <th scope="row">{{data.vCpu}}</th>
                    <th scope="row">{{data.ram}}</th>
                    <th scope="row">{{data.dataStorage}}</th>
                    <th scope="row">{{data.prodQuantity}}</th>
                    <th scope="row">{{data.drQuantity}}</th>
                    <th scope="row">{{data.uatQuantity}}</th>
                    <th scope="row">{{data.sitDevQuantity}}</th>
                    <th scope="row">{{data.totalQuantity}}</th>
                    <th scope="row">
                        <button class="btn btn-outline-info" (click)="editLogicalContainer(data)">Edit
                            <i class="fa fa-edit fa-lg mypointer" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-outline-danger" (click)="onDelete(data)">Delete
                            <i class="fa fa-trash-o fa-lg mypointer" aria-hidden="true"></i>
                        </button>

                    </th>
                </tr>
            </tbody>
        </table>
    </div> -->
</div>

<div class="backdrop" [ngStyle]="{'display':display}"></div>

<div class="modal" *ngIf="modal == 'add'" [ngStyle]="{'display':display}" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Container</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseHandled()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="logicalContainerForm" #myForm='ngForm' (ngSubmit)="onSubmitAdd()">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="project">Server</label>
                        <input type="text" class="form-control" formControlName="server" placeholder="Sever" />

                        <label for="project">vCPU (Cores)</label>
                        <input type="number" class="form-control" formControlName="vCpu" placeholder="vCPU" />

                        <label for="project">RAM (GB)</label>
                        <input type="number" class="form-control" formControlName="ram" placeholder="RAM" />

                        <label for="project">Data Storage (GB)</label>
                        <input type="number" class="form-control" formControlName="dataStorage" placeholder="Data Storage" />

                        <label for="project">Prod Quantity</label>
                        <input type="number" class="form-control" formControlName="prodQuantity" placeholder="Prod Quantity" />

                        <label for="project">DR Quantity</label>
                        <input type="number" class="form-control" formControlName="drQuantity" placeholder="DR Quantity" />

                        <label for="project">UAT Quantity</label>
                        <input type="number" class="form-control" formControlName="uatQuantity" placeholder="UAT Quantity" />

                        <label for="project">SIT/DEV Quantity</label>
                        <input type="number" class="form-control" formControlName="sitDevQuantity" placeholder="SIT/DEV Quantity" />

                        <label for="project">Components</label>
                        <select class="form-control" multiple formControlName="components">
                            <option *ngFor="let comp of componentOptions" [value]="comp.id">{{comp.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" (click)="onCloseHandled()">Close</button>
                    <button type="submit" class="btn btn-outline-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal" *ngIf="modal == 'edit'" [ngStyle]="{'display':display}" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Container</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseHandled()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="logicalContainerForm" #myForm='ngForm' (ngSubmit)="onEditLogicalContainer(logicCon)">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="project">Server</label>
                        <input type="text" class="form-control" formControlName="server" placeholder="Sever" [value]="logicCon.server" />

                        <label for="project">vCPU (Cores)</label>
                        <input type="number" class="form-control" formControlName="vCpu" placeholder="vCPU" [value]="logicCon.vCpu" />

                        <label for="project">RAM (GB)</label>
                        <input type="number" class="form-control" formControlName="ram" placeholder="RAM" [value]="logicCon.ram" />

                        <label for="project">Data Storage (GB)</label>
                        <input type="number" class="form-control" formControlName="dataStorage" placeholder="Data Storage" [value]="logicCon.dataStorage"
                        />

                        <label for="project">Prod Quantity</label>
                        <input type="number" class="form-control" formControlName="prodQuantity" placeholder="Prod Quantity" [value]="logicCon.prodQuantity"
                        />

                        <label for="project">DR Quantity</label>
                        <input type="number" class="form-control" formControlName="drQuantity" placeholder="DR Quantity" [value]="logicCon.drQuantity"
                        />

                        <label for="project">UAT Quantity</label>
                        <input type="number" class="form-control" formControlName="uatQuantity" placeholder="UAT Quantity" [value]="logicCon.uatQuantity"
                        />

                        <label for="project">SIT/DEV Quantity</label>
                        <input type="number" class="form-control" formControlName="sitDevQuantity" placeholder="SIT/DEV Quantity" [value]="logicCon.sitDevQuantity"
                        />

                        <label for="project">Components</label>
                        <select class="form-control" multiple formControlName="components">
                            <option *ngFor="let comp of componentOptions" [value]="comp.id">{{comp.name}}</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="onCloseHandled()">Close</button>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" *ngIf="modal == 'error'" [ngStyle]="{'display':display}" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseHandled()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Error!</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="onCloseHandled()">Close</button>
            </div>
        </div>
    </div>
</div>