<br />
<div [@routerTransition]>
    <div class="form-group input-group col-4" style="padding-left: 0px;">
        <input type="text" class="form-control" name="searchString" placeholder="Type to search..." [(ngModel)]="searchString">
        <div class="input-group-append">
            <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
        </div>
        <div class="pl-2">
            <button type="button" class="btn btn-outline-primary" (click)="onModalOpen('add')">Add Function</button>
        </div>
    </div>

    <div class="card mb-3">
        <table class="card-body table table-hover">
            <thead class="card-header" style="background-color: #cce5ff;">
                <tr>
                    <th>ID</th>
                    <th>Product Backlog Code</th>
                    <th>Function</th>
                  
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of functionsList | filter: 'functionDesc' : searchString">
                    <td scope="row">{{ data.id }}</td>
                    <td scope="row">{{ data.code }}</td>
                    <td scope="row">{{ data.functionDesc }}</td>
                   
                    <td scope="row">
                        <button class="btn btn-outline-info" (click)="onModalOpen('edit', data)">Edit
                            <i class="fa fa-edit fa-lg mypointer" aria-hidden="true"></i>
                        </button>&nbsp;
                        <button class="btn btn-outline-danger" (click)="onModalOpen('delete', data)">Delete
                            <i class="fa fa-trash-o fa-lg mypointer" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="backdrop" [ngStyle]="{'display':display}"></div>

<div class="modal" *ngIf="modal === 'add'" [ngStyle]="{'display':display}" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Function</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onModalClose()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="functionForm" #myForm='ngForm' (ngSubmit)="onSubmitAdd()" ngNativeValidate>
                <div class="modal-body">
                        <div class="form-group">
                                <label for="name">Product Backlog Code</label><br>
                                <select formControlName="code" class="form-control" id="code" [(ngModel)]="selectedUserStory">
                                    <option *ngFor="let user of backlog"  [ngValue]="user">{{user.backlogCode}}{{user.id}}</option>
                                </select>
                            </div>
                    <div class="form-group">
                        <label for="name">Function</label>
                        <textarea type="text" class="form-control" formControlName="functionDesc" placeholder="Function description"
                            id="functionDesc" required >
                        </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="onModalClose()">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" *ngIf="modal === 'edit'" [ngStyle]="{'display':display}" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Function</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onModalClose()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="functionForm" (ngSubmit)="onSubmitEdit()" ngNativeValidate>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Function</label>
                        <textarea type="text" class="form-control" formControlName="functionDesc" placeholder="Function description"
                            id="functionDesc" required >
                        </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="onModalClose()">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" *ngIf="modal === 'delete'" [ngStyle]="{'display':display}" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Function</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onModalClose()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Are you sure you want to delete '{{ selectedData.functionDesc }}'?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="onModalClose()">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="onSubmitDelete()">Ok</button>
            </div>
        </div>
    </div>
</div>
