<div>
    <br />
    <div class="form-group input-group col-4" style="padding-left: 0px;">
        <input type="text" class="form-control" placeholder="Search" >            
        <div class="input-group-append">
            <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
        </div>
        <div class="pl-2">
            <button type="button" class="btn btn-primary" (click)="addProj()">Add {{text}} <i class="fa fa-plus"></i></button>
        </div>
    </div>

    <div class="card mb-3">
        <table class="card-body table table-hover">
            <thead class="card-header" style="background-color: #cce5ff;">
                <tr>
                    <th *ngFor="let data of tabler">{{data.header}}</th>
                    <!-- <th>Project Name</th>
                        <th>Col</th>
                        <th>Col</th>
                        <th>Col</th>
                        <th>Col</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of tabler">
                    <th scope="row">{{data.id}}</th>
                    <th scope="row">{{data.description}}</th>
                    <th scope="row">{{data.dateCreated}}</th>
                    <th scope="row">{{data.dateCompleted}}</th>
                    <th scope="row">{{data.createdBy}}</th>
                    <th scope="row">{{data.completedBy}}</th>
                    <th scope="row">
                        <button type="button" class="btn btn-outline-success">{{data.edit}} <i class="fa fa-edit"></i></button>
                    </th>
                    <th scope="row">
                        <button type="button" class="btn btn-outline-success">{{data.delete}} <i class="fa fa-trash"></i></button>
                    </th>

                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="backdrop" [ngStyle]="{'display':display}"></div>

<div class="modal" [ngStyle]="{'display':display}" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Function</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseHandled()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" id="id" placeholder="ID">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" class="form-control" id="description" placeholder="Description"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                        <label for="dateCreated">Date Created</label>
                        <input class="form-control datePickerCreate" id="dateCreated" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #create="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary btn-fpa" (click)="create.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                        <label for="dateCompleted">Date Completed</label>
                        <input class="form-control datePickerComplete" id="dateCompleted" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #complete="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary btn-fpa" (click)="complete.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="createdBy">Created By</label>
                        <textarea type="text" class="form-control" id="createdBy" placeholder="Created By"></textarea>
                    </div>
                    <div class="form-group">
                            <label for="completedBy">Completed By</label>
                            <textarea type="text" class="form-control" id="completedBy" placeholder="Completed By"></textarea>
                        </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="onCloseHandled()">Close</button>
                <button type="button" class="btn btn-primary" (click)="onCloseHandled()">Save</button>
            </div>
        </div>
    </div>
</div>