<div [@routerTransition]>
    <div style="font-size:15px;font-weight:bold">Project A</div>
    <br />
    <table class="table table-striped">
        <thead style="font-weight:bold;font-size:12px">
            <tr>
                <td>ONSITE</td>
                <td>ROLE</td>
                <td>GRADE</td>
                <td>MONTH</td>
                <td>HEAD COUNT</td>
                <td>PHASE 1</td>
                <td>PHASE 2</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>OnSite</td>
                <td>Business Analyst</td>
                <td>i9-HK</td>
                <td>1</td>
                <td>1</td>
                <td>100,000</td>
                <td>100,000</td>
            </tr>
            <tr>
                <td>OnSite</td>
                <td>Technical Architect</td>
                <td>i9-HK</td>
                <td>1</td>
                <td>1</td>
                <td>100,000</td>
                <td>100,000</td>
            </tr>
            <tr>
                <td>OnSite</td>
                <td>UI/UX Designer</td>
                <td>i9-HK</td>
                <td>1</td>
                <td>1</td>
                <td>100,000</td>
                <td>100,000</td>
            </tr>
            <tr>
                <td>OnSite</td>
                <td>Technical PM</td>
                <td>i9-HK</td>
                <td>3</td>
                <td>1</td>
                <td>100,000</td>
                <td>100,000</td>
            </tr>
            <tr>
                <td>OnSite</td>
                <td>Programmer</td>
                <td>i9-HK</td>
                <td>4</td>
                <td>1</td>
                <td>100,000</td>
                <td>100,000</td>
            </tr>
            <tr style="font-weight:bold">
                <td colspan="4">Total</td>
               
                <td>8</td>
                <td>500,000</td>
                <td>500,000</td>
            </tr>
        </tbody>
    </table>
</div>
